# Ignore build directories
practice.ipynb
lightning_logs
practice.py
model
trash
practice.py
data_generate/DAFXChain/mixing_manipulator/__pycache__
data_generate/DAFXChain/__pycache__
data_generate/midi_2_wav/drum_data_test
data_generate/midi_2_wav/drum_data_train
data_generate/midi_2_wav/drum_data_val
data_generate/midi_2_wav/drum_data_practice
data_generate/midi_2_wav/one_shots
ckpts
data_generate/generated_data
generated_data
DrumTranscriber/__pycache__
DrumTranscriber/false